<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
    <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

<main class="col-xxl-8 mx-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingLogin" placeholder="Login">
            <label for="floatingLogin">Login</label>
        </div>
        <br><br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <br>
        <a class="nav-link" href="/signin">Didn't have an account?</a>
        <br>
        <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>


    </form>
</main>

</body>
</html>